body {
    font-family: Helvetica;
    font-size: 12px;
}
.canton-boundary {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.canton {
    opacity: 1;
    transform: translate(0, 0);
}

.canton:hover {
    opacity: .7;
}

.tooltip {
    position: absolute;
    width: 150px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 3px;
    pointer-events: none;
}